
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa">

  <div class="BLOK1">

    <div class="tlo abs_pelny"></div>

    <div class="tytul">Formularz:</div>

    <div class="tresc">
      <form method="post">
        {% csrf_token %}

        {% for i in formularz %}

          <div class="otoczka_pola">

            {{ i }}

          </div>

        {% endfor %}

        <button type="submit">Dodaj</button>
      </form>
    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

