
"use strict";

var dane_produktu = {
  id : '{{ produkt.pk }}'
  , nazwa : '{{ produkt.nazwa }}'
  , zdjecie : '{{ produkt.zdjecie }}'
  , opis : '{{ produkt.opis }}'
  , rozmiar : '{{ produkt.rozmiar }}'
  , producent : '{{ produkt.producent }}'
  , kolor : '{{ produkt.kolor }}'
  , rodzaj : '{{ produkt.rodzaj }}'

  , certyfikaty : [ {% for p in produkt.certyfikaty.all %}
    [ '{{ p.numer }}', '{{ p.szczegoly }}' ],
  {% endfor %} ]
  
  , zawody : [ {% for p in produkt.zawody.all %}
    '{{ p.nazwa }}',
  {% endfor %} ]
  
  , zagrozenia : [ {% for p in produkt.zagrozenia.all %}
    '{{ p.nazwa }}',
  {% endfor %} ]

};
