
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa">

  <div class="BLOK1">

    <div class="tlo abs_pelny"></div>

    <div class="tytul">Formularz:</div>

    <div class="tresc">

      Produkty
      <div style="border: 1px solid black; padding: 5px">
        <div class="otoczka_pola wyszukaj">

          <form method="POST" action="/wyszukiwarka/dla_edytuj/">
            {% csrf_token %}

            {{ wyszukiwarka.zapytanie }}

            <button type="submit">Wyszukaj</button>
          </form>

        </div>

        <div class="komunikaty">
          {% for e in wyszukiwarka.zapytanie.errors %}
            {{ e }}
          {% endfor %}
        </div>
        <br/>

        <a href="/produkt/dodaj/">DODAJ NOWY PRODUKT</a>
        <br/>

        {% for p in produkt %}
          {{ p }}
          <a href="/produkt/edytuj/{{ p.pk }}">EDYTUJ</a>
          <a href="/produkt/usun/{{ p.pk }}">USUŃ</a>
          <br/>
        {% endfor %}
      </div>

      Promowanie
      <div style="border: 1px solid black; padding: 5px">
        <a href="/produkt/dodaj/polecane/">DODAJ PRODUKT DO LISTY PRODUKTÓW PROMOWANYCH</a>
        <br/>

        Aktywne
        <div style="border: 1px solid black; padding: 5px">
          {% for p in polecane.aktywne %}
            {{ p.produkt }}
            <a href="/produkt/usun/polecane/{{ p.produkt.pk }}/">USUŃ</a>

            <form method="POST" action="/produkt/edytuj/polecane/{{ p.produkt.pk }}/">
              {% csrf_token %}

              {{ p.formularz.data_zakonczenia }}

              <button type="submit">Ustaw</button>
            </form>

            <br/>
          {% endfor %}
        </div>

        Nieaktywne
        <div style="border: 1px solid black; padding: 5px">
          {% for p in polecane.nieaktywne %}
            {{ p.produkt }}
            <a href="/produkt/usun/polecane/{{ p.produkt.pk }}/">USUŃ</a>

            <form method="POST" action="/produkt/edytuj/polecane/{{ p.produkt.pk }}/">
              {% csrf_token %}

              {{ p.formularz.data_zakonczenia }}

              <button type="submit">Ustaw</button>
            </form>

            <br/>
          {% endfor %}
        </div>

      </div>

      O Firmie
      <div style="border: 1px solid black; padding: 5px">

        <form method="post" action="/zapisz/o_firmie/">
          {% csrf_token %}

          {% for i in o_firmie %}
            {{ i.errors }}
            <div class="otoczka_pola">
              {{ i }}
            </div>
          {% endfor %}

          <div class="otoczka_pola button">
            <button type="submit">Akceptuj</button>
          </div>

        </form>

      </div>

      Kontakt
      <div style="border: 1px solid black; padding: 5px">

        <form method="post" action="/zapisz/kontakt/">
          {% csrf_token %}

          {% for i in kontakt %}
            <div class="otoczka_pola">
              {{ i }}
            </div>
          {% endfor %}

          <div class="otoczka_pola button">
            <button type="submit">Akceptuj</button>
          </div>

        </form>

      </div>

    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

