
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa">

  <div class="BLOK1">

    <div class="tlo abs_pelny"></div>

    <div class="tresc">

      <div class="tytul">Produkty</div>
      <div class="tekst">
        <div class="otoczka_pola wyszukaj">

          <form method="POST" action="/wyszukiwarka/dla_edytuj/">
            {% csrf_token %}

            {{ wyszukiwarka.zapytanie }}

            <button type="submit">Wyszukaj</button>
          </form>

        </div>

        <div class="komunikaty">
          {% for e in wyszukiwarka.zapytanie.errors %}
            {{ e }}
          {% endfor %}
        </div>
        <br/>

        <div class="otoczka_pola link" data-href="/produkt/dodaj/"><button>Dodaj nowy produkt</button></div>

        {% for p in produkt %}
          {{ p }}
          <a href="/produkt/edytuj/{{ p.pk }}">EDYTUJ</a>
          <a href="/produkt/usun/{{ p.pk }}">USUŃ</a>
          <br/>
        {% endfor %}
      </div>

      <div class="tytul">Promowanie</div>
      <div class="tekst">
        <div class="otoczka_pola link" data-href="/produkt/dodaj/polecane/"><button>Dodaj produkt do listy produktów promowanych</button></div>
        <br/>

        <div class="podtytul">Aktywne</div>
        <div>
          {% for p in polecane.aktywne %}
            {{ p.produkt }}
            <div class="otoczka_pola link" data-href="/produkt/usun/polecane/{{ p.produkt.pk }}/"><button>Usuń</button></div>

            <form method="POST" action="/produkt/edytuj/polecane/{{ p.produkt.pk }}/">
              {% csrf_token %}

              {{ p.formularz.data_zakonczenia }}

              <button type="submit">Ustaw</button>
            </form>

            <br/>
          {% endfor %}
        </div>

        <div class="podtytul">Nieaktywne</div>
        <div>
          {% for p in polecane.nieaktywne %}
            {{ p.produkt }}
            <div class="otoczka_pola link" data-href="/produkt/usun/polecane/{{ p.produkt.pk }}/"><button>Usuń</button></div>

            <form method="POST" action="/produkt/edytuj/polecane/{{ p.produkt.pk }}/">
              {% csrf_token %}

              {{ p.formularz.data_zakonczenia }}

              <button type="submit">Ustaw</button>
            </form>

            <br/>
          {% endfor %}
        </div>

      </div>

      <div class="tytul">O Firmie</div>
      <div class="tekst">

        <form method="post" action="/zapisz/o_firmie/">
          {% csrf_token %}

          {% for i in o_firmie %}
            {{ i.errors }}
            <div class="otoczka_pola">
              {{ i }}
            </div>
          {% endfor %}

          <div class="otoczka_pola button">
            <button type="submit">Akceptuj</button>
          </div>

        </form>

      </div>

      <div class="tytul">Kontakt</div>
      <div class="tekst">

        <form method="post" action="/zapisz/kontakt/">
          {% csrf_token %}

          {% for i in kontakt %}
            <div class="otoczka_pola">
              {{ i }}
            </div>
          {% endfor %}

          <div class="otoczka_pola button">
            <button type="submit">Akceptuj</button>
          </div>

        </form>

      </div>

    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

