
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment kontakt standardowa">

  <div class="BLOK1">

    <div class="tlo abs_pelny"></div>

    <div class="tresc">


      <div class="lewa kolumna"> 

        <div class="tytul">
          {{ kontakt.0.zawartosc | safe }}
        </div>

        <div class="tekst">
          {{ kontakt.1.zawartosc | linebreaksbr | safe }}
        </div>

        <div class="formularz">

          <form method="post" action="{{ request.session.poczta_url }}">
            {% csrf_token %}

            
            {% if formularz.temat %}
              <div class="otoczka_pola">
                {{ formularz.temat }}
              </div>
            {% endif %}


            {% if formularz.nadawca %}
              <div class="otoczka_pola">
                {{ formularz.nadawca }}
              </div>
            {% endif %}

            {% if formularz.email %}
              <div class="otoczka_pola">
                {{ formularz.email }}
              </div>
            {% endif %}

            {% if formularz.wiadomosc %}
              <div class="otoczka_pola">
                {{ formularz.wiadomosc }}
              </div>
            {% endif %}

            {% if formularz.produkt %}
              <div class="otoczka_pola">
                {{ formularz.produkt }}
              </div>
            {% endif %}

            {% if formularz.url %}
              <div class="otoczka_pola">
                {{ formularz.url }}
              </div>
            {% endif %}

            <div class="otoczka_pola button">
              <button type="submit">Dalej</button>
            </div>

          </form>

        </div>

      </div>
      
      
      <div class="prawa kolumna">

        <div class="{{ kontakt.2.css.klasa }}">
          {{ kontakt.2.zawartosc | safe }}
        </div>

      </div>


    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}


