
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="tresc">
      F.H. "AS BHP"<br />
      <br />
      ul. Hutnicza 34<br />
      81-061 Gdynia<br />
      tel./fax (058) 667-30-05<br />
      NIP: 584-118-58-16<br />
      e-mail: asbhp@asbhp.pl<br />
      <br />
      <br />
      (załączona mapa z google)
    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}


