
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment kontakt standardowa">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="tresc">


      <div class="lewa kolumna"> 

        <div class="{{ kontakt.0.css.klasa }}">
          {{ kontakt.0.zawartosc | safe }}
        </div>

        <div class="{{ kontakt.1.css.klasa }}">
          {{ kontakt.1.zawartosc | safe }}
        </div>

        <div class="formularz">
          <form method="post" action="{{ request.session.poczta_url }}">
            {% csrf_token %}
            {{ formularz.as_p }}
            <button type="submit">Dalej</button>
          </form>
        </div>

      </div>
      
      
      <div class="prawa kolumna">

        <div class="{{ kontakt.2.css.klasa }}">
          {{ kontakt.2.zawartosc | safe }}
        </div>

      </div>


    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}


