{% load staticfiles %}

{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa o_firmie">

  <div class="BLOK1">

    <div class="tlo abs_pelny">
      <div></div>
    </div>

    <div class="tresc">

      <div class="tytul">
        {{ o_firmie.0.zawartosc | linebreaksbr }}
      </div>

      <div class="tekst">
        {{ o_firmie.1.zawartosc | linebreaksbr }}
      </div>


      <div class="tytul">Producenci</div>

      <div class="loga_firm">
        
        <div>
          <img src="{% static 'img/loga_firm/1.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/2.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/3.jpg' %}" /> 
        </div>
        
        <br />

        <div>
          <img src="{% static 'img/loga_firm/4.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/5.gif' %}" />
        </div>

      </div>


    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

