{% load staticfiles %}

{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa o_firmie">

  <div class="BLOK1">

    <div class="tlo abs_pelny">
      <div></div>
    </div>

    <div class="tresc">

      <div class="tytul">
        {{ o_firmie.tytul | linebreaksbr }}
      </div>

      <div class="tekst">
        {{ o_firmie.tekst | linebreaksbr }}
      </div>


      <div class="tytul">Producenci</div>

      <div class="loga_firm">
        
        <div>
          <img src="{% static 'img/loga_firm/1.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/2.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/3.jpg' %}" /> 
        </div>
        
        <br />

        <div>
          <img src="{% static 'img/loga_firm/4.jpg' %}" />
        </div>
        
        <div>
          <img src="{% static 'img/loga_firm/5.gif' %}" />
        </div>

      </div>


      <div class="tytul">
        Katalogi do pobrania
      </div>

      <ul class="tekst">
        
        <li class="link" data-href="http://www.industrialstarter.com/pl/katalogi" data-domena="inna">http://www.industrialstarter.com/pl/katalogi</li>
        
        <li class="link" data-href="http://publication.deltaplus.eu/cat-2015-pl/" data-domena="inna">http://publication.deltaplus.eu/cat-2015-pl/</li>
        
        <li class="link" data-href="http://www.portwest.eu/footer_data.php?do=7" data-domena="inna">http://www.portwest.eu/footer_data.php?do=7</li>
        
        <li class="link" data-href="https://www.adler.info/PL/pl/Article/katalog-90/" data-domena="inna">https://www.adler.info/PL/pl/Article/katalog-90/</li>

        <li class="link" data-href="http://www.filter-service.eu/pl/index.php" data-domena="inna">http://www.filter-service.eu/pl/</li>
        
        <li class="link" data-href="http://protekt.com.pl/?page=kategoria_tekst&kat=&menu_id=6" data-domena="inna">http://protekt.com.pl/?page=kategoria_tekst&kat=&menu_id=6</li>

      </ul>


    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

