
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment oferta">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="tresc">

      <div class="typ otoczka_pola post_select" data-href="/wyszukiwarka/typ/">

        {% csrf_token %}

        <select>

          <option value="">Wybierz typ...</option>

          {% for i in typ %}

            {% if i.url == wybrany_typ %}
              <option selected value="{{ i.url }}">{{ i }}</option>
            {% else %}
              <option value="{{ i.url }}">{{ i }}</option>
            {% endif %}

          {% endfor %}

        </select>

      </div>



      <div class="dziedzina otoczka_pola post_select" data-href="/wyszukiwarka/dziedzina/">

        {% csrf_token %}

        {% if dziedzina %}
          <select>
        {% else %}
          <select disabled="disabled">
        {% endif %}

          <option value="">Wybierz dziedzinę...</option>

          {% for i in dziedzina %}

            {% if i.url == wybrany_dziedzina %}
              <option selected value="{{ i.url }}">{{ i }}</option>
            {% else %}
              <option value="{{ i.url }}">{{ i }}</option>
            {% endif %}

          {% endfor %}

        </select>

      </div>



      <div class="rodzaj otoczka_pola post_select" data-href="/wyszukiwarka/rodzaj/">

        {% csrf_token %}

        {% if rodzaj %}
          <select>
        {% else %}
          <select disabled="disabled">
        {% endif %}

          <option value="">Wybierz rodzaj...</option>

          {% for i in rodzaj %}

            {% if i.url == wybrany_rodzaj %}
              <option selected value="{{ i.url }}">{{ i }}</option>
            {% else %}
              <option value="{{ i.url }}">{{ i }}</option>
            {% endif %}

          {% endfor %}

        </select>

      </div>



      <div id="FILTRY" class="filtry otoczka_pola">

        <div class="lista">

          <div data-href="1">Wyszukiwanie</div>
          <div data-href="2">Producent</div>

        </div>

        <div class="zakladka zakladka_1 wybrana">

          <div class="otoczka_pola wyszukaj">

            <form method="POST" action="/wyszukiwarka/">{% csrf_token %}

              {{ wyszukiwarka.zapytanie }}

              <button type="submit"></button>
              <div class="link" data-href="/wyszukiwarka/usun_sesje/"></div>

            </form>

          </div>

          <div class="komunikaty">
            {% for e in wyszukiwarka.zapytanie.errors %}
              {{ e }}
            {% endfor %}
          </div>

        </div>

        <div class="zakladka zakladka_2" style="display: none;">

          <div class="otoczka_pola wyszukaj">

            <form method="POST" action="/wyszukiwarka/">{% csrf_token %}

              bla bla bla
              
            </form>

          </div>

          <div class="komunikaty">
          </div>

        </div>

      </div>

    </div>

  </div>



  <div class="BLOK2">

    <div class="tlo"></div>

    <div class="tresc lista_produktow">
  
      <ul>

        {% if not produkt %}
          <li class="komentarz">
          
            <div>Nie ma pasujących produktów</div>
          
          </li>
        {% endif %}



        {% for p in produkt %}

          <li class="link" data-href="/produkt/{{ p.id }}/" data-domena="ta">
          
            <div class="nazwa">{{ p.nazwa }}</div>
          
            <div class="obrazek" style="background-image: url({{ p.zdjecie }});"></div>

            <div class="opis">{{ p.opis }}</div>

            <div class="przeznaczenie">
            
              {% for zawod in p.zawody.all %}
                <div class="zawod.id"></div>
              {% endfor %}
            
            </div>

            <div class="zagrozenia">
            
              {% for zagrozenie in p.zagrozenia.all %}
                <div css="zagrozenie.id"></div>
              {% endfor %}
            
            </div>
          
          </li>

        {% endfor %}
    
      </ul>
    
    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}


