
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment oferta">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="tresc">

      <div class="typ otoczka_pola link_select">

        <select>

          <option value="/oferta/">Wybierz typ...</option>

          {% for i in typ %}

            {% if i.url == typ_url %}
              <option selected value="/oferta/{{ i.url }}/">{{ i }}</option>
            {% else %}
              <option value="/oferta/{{ i.url }}/">{{ i }}</option>
            {% endif %}

          {% endfor %}

        </select>

      </div>



      <div class="dziedzina otoczka_pola link_select">

        {% if dziedzina %}
          <select>
        {% else %}
          <select disabled="disabled">
        {% endif %}

          <option value="/oferta/{{ typ_url }}/">Wybierz dziedzinę...</option>

          {% for i in dziedzina %}

            {% if i.url == dziedzina_url %}
              <option selected value="/oferta/{{ typ_url }}/{{ i.url }}/">{{ i }}</option>
            {% else %}
              <option value="/oferta/{{ typ_url }}/{{ i.url }}/">{{ i }}</option>
            {% endif %}

          {% endfor %}

        </select>

      </div>



      <div class="rodzaj otoczka_pola link_select">

      {% if rodzaj %}
        <select>
      {% else %}
        <select disabled="disabled">
      {% endif %}

          <option value="/oferta/{{ typ_url }}/{{ dziedzina_url }}/">Wybierz rodzaj...</option>

        {% for i in rodzaj %}

          {% if i.url == rodzaj_url %}
            <option selected value="/oferta/{{ typ_url }}/{{ dziedzina_url }}/{{ i.url }}/">{{ i }}</option>
          {% else %}
            <option value="/oferta/{{ typ_url }}/{{ dziedzina_url }}/{{ i.url }}/">{{ i }}</option>
          {% endif %}

        {% endfor %}

        </select>

      </div>



      <div class="filtry otoczka_pola">

        <div class="lista">

          <div>Wyszukiwanie</div>
          <div>Producent</div>

        </div>

        <div class="pole">

          <div class="otoczka_pola wyszukaj">

            <form method="POST" action="/wyszukaj/">{% csrf_token %}

              <input type="text" placeholder="Wyszukaj..."/>
              <button type="submit"></button>
              <div class="link" data-href="/wyszukaj/usun/"></div>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>



  <div class="BLOK2">

    <div class="tlo"></div>

    <div class="tresc lista_produktow">
  
      <ul>

        {% if not produkt %}
          <li class="komentarz">
          
            <div>Nie ma pasujących produktów</div>
          
          </li>
        {% endif %}



        {% for p in produkt %}

          <li class="link" data-href="/produkt/{{ p.id }}/" data-domena="ta">
          
            <div class="nazwa">{{ p.nazwa }}</div>
          
            <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt.jpg');"></div>

            <div class="opis">{{ p.opis }}</div>

            <div class="przeznaczenie">
            
              {% for zawod in p.zawody.all %}
                <div style="background-image: url({{ zawod.id }})"></div>
              {% endfor %}
            
            </div>

            <div class="zagrozenia">
            
              {% for zagrozenie in p.zagrozenia.all %}
                <div style="background-image: url({{ zagrozenie.id }})"></div>
              {% endfor %}
            
            </div>
          
          </li>

        {% endfor %}
    
      </ul>
    
    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}


