
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment start">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="napis">ŚWIAT BHP<br />Z AS BHP</div>

    <div class="strzalka" data-href=".BLOK2">
      <div class="podpis">Polecane produkty</div>
      <div class="obrazek"></div>
    </div>

  </div>



  <div class="BLOK2">

    <div class="tlo"></div>

    <div class="tresc lista_produktow">
    
      <ul>

        {% for p in polecane %}

        <li class="link" data-href="" data-domena="ta">
        
          <div class="nazwa">{{ p.produkt.nazwa }}</div>
        
          <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt.jpg');"></div>

          <div class="opis">{{ p.produkt.opis }}</div>

          {% for zawod in p.produkt.zawody.all %}
          <div class="przeznaczenie">{{ zawod.id }}</div>
          {% endfor %}

          {% for zagrozenie in p.produkt.zagrozenia.all %}
          <div class="zagrozenia">{{ zagrozenie.id }}</div>
          {% endfor %}
        
        </li>

        {% endfor %}
      
      </ul>
    
    </div>

  </div>



  <div class="BLOK3">

    <div class="tlo"></div>

    <div class="tresc">Specializing in video and photo storytelling<br />
    for schools, nonprofits, and other organizations<br />
    serving the greater good.</div>

  </div>




  <div class="BLOK4">

    <div class="tlo"></div>

    <div class="tresc">Specializing in video and photo storytelling<br />
    for schools, nonprofits, and other organizations<br />
    serving the greater good.</div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}
