
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment start">

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="napis"></div>

    <div class="strzalka" data-href=".BLOK2">
      <div class="podpis">Polecane produkty</div>
      <div class="obrazek"></div>
    </div>

  </div>



  <div class="BLOK2">

    <div class="tlo"></div>

    <div class="tresc lista_produktow">
    
      <ul>

        {% for p in polecane %}

        <li class="link" data-href="/produkt/{{ p.produkt.id }}/">
        
          <div class="nazwa">{{ p.produkt.nazwa }}</div>
        
          <div class="obrazek" style="background-image: url({{ p.produkt.zdjecie }});"></div>

          <div class="opis">{{ p.produkt.opis }}</div>

          <div class="przeznaczenie">
          
            {% for zawod in p.zawody.all %}
              <div class="zawod.id"></div>
            {% endfor %}
          
          </div>

          <div class="zagrozenia">
          
            {% for zagrozenie in p.zagrozenia.all %}
              <div css="zagrozenie.id"></div>
            {% endfor %}
          
          </div>
        
        </li>

        {% endfor %}
      
      </ul>
    
    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}
