/*    CSS   */


/************************************************************/

#TRESC.start > .BLOK1 > div.tlo
{
  background-image: url('../img/tlo.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK2 > div.tlo
{
  background-color: #e9ebee;
}



#TRESC.start > .BLOK2
{
  color: #333;

  padding-top: 0px;
}



#TRESC.start > .BLOK2 > .tresc
{
  margin-top: 20px;
}



#TRESC.start > .BLOK3 > div.tlo
{
  background-color: rgba(30, 29, 28, 1);
}



#TRESC.start > .BLOK3
{
  color: #DDD;
}



#TRESC.start > .BLOK4 > div.tlo
{
  background-color: #fff;
}



#TRESC.start > .BLOK2
{
  color: #333;
}


/************************************************************/

#TRESC.standardowa > .BLOK1 > .tlo
{
  background-color: #fff;
}



/***************************** O FIRMIE *******************************/


#TRESC.o_firmie > .BLOK1 > .tresc
{
  margin-top: 250px;
}



#TRESC.o_firmie > .BLOK1 > .tlo > div
{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;

  min-height: 200px !important;
  max-height: 200px !important;
  background-image: url( '../img/panorama.jpg' );
  background-position: top;
  background-repeat: repeat;
}



#TRESC.o_firmie > .BLOK1 > .tlo
{
  background-color: #fff;
}



#TRESC.o_firmie > .BLOK1 > .tresc > .tytul
{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}



#TRESC.o_firmie > .BLOK1 > .tresc > .tekst,
#TRESC.o_firmie > .BLOK1 > .tresc > .loga_firm
{
  margin-bottom: 50px;
}



#TRESC.o_firmie > .BLOK1 > .tresc > .loga_firm
{
  min-height: 70px;

  margin-top: 30px;
  text-align: center;

  z-index: 38;
}



#TRESC.o_firmie > .BLOK1 > .tresc > .loga_firm > div
{
  display: inline-block;

  height: 50px;
  padding: 5px 10px;

  background-color: #fff;
  border-radius: 5px;

  z-index: 38;
}



#TRESC.o_firmie > .BLOK1 > .tresc > .loga_firm > div > img
{
  display: inline-block;

  height: inherit;

  z-index: 38;
}



/***************************** KONTAKT *******************************/

#TRESC.kontakt > .BLOK1 > .tresc
{
  position: relative !important;
}



#TRESC.kontakt > .BLOK1 > .tresc > .kolumna
{
  display: inline-block;
  vertical-align: top;
}



#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna > .tytul
{
  margin-bottom: 20px;
}



#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna > .tekst
{
  margin-bottom: 30px;
}



#TRESC.kontakt > .BLOK1 > .tresc .tytul
{
  font-size: 30px;
  font-weight: bold;
}



#TRESC.kontakt > .BLOK1 > .tresc .tytul,
#TRESC.kontakt > .BLOK1 > .tresc .tekst
{
  width: 100%;
}



#TRESC.kontakt > .BLOK1 > .tresc .formularz .otoczka_pola
{
  min-width: 300px;
  max-width: 300px;

  margin: 0px;
  margin-bottom: 10px;
}



/************** Prawa kolumna i mobilne *************/

#TRESC.kontakt > .BLOK1 > .tresc > .kolumna
{
  width: 100%;
  min-height: 200px;

  margin-top: 20px;
}



#TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna
{
  height: 200px;
}



#TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna .mapa
{
  height: inherit;
}



@media screen and (min-width: 600px)
{

  #TRESC.kontakt > .BLOK1 > .tresc > .kolumna
  {
    width: 100%;
    min-height: 200px;

    margin-top: 20px;
  }



  #TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna
  {
    height: 300px;
  }

}



@media screen and (min-width: 800px)
{

  #TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna
  {
    height: 460px;
  }

}



@media screen and (min-width: 1200px)
{

  #TRESC.kontakt > .BLOK1 > .tresc > .kolumna
  {
    min-height: 460px;
  }
  


  #TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna
  {
    width: 360px;
  }
  


  #TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna
  {
    width: 600px;
    height: 460px;
  }
  


  #TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna .mapa
  {
    height: 100%;
  }


}



#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna .otoczka_pola.button
{
  display: inline-block;

  min-width: 150px !important;
  max-width: 150px !important;
}
  


#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna .otoczka_pola.button button
{
  min-width: 148px !important;
  max-width: 148px !important;
}



#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna .otoczka_pola.button.szeroki
{
  display: inline-block;

  min-width: 300px !important;
  max-width: 300px !important;
}
  


#TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna .otoczka_pola.button.szeroki button
{
  min-width: 298px !important;
  max-width: 298px !important;
}



#TRESC.kontakt > .BLOK1 > .tresc .mapa
{
  width: 100%;
  height: 450px;

  border-radius: 3px;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
  





/************************************************************/



