/*    CSS   */


/************************************************************/

#TRESC.start > .BLOK1 > div.tlo
{
  background-image: url('../img/tlo_start2.jpg');
  background-size: 100% auto;
  background-position: 0px -130px;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK1 > div.tlo:after
{
  content: '';
  display: block;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-image: url( '/static/img/szary dymek.png' );
  background-position: right bottom;
  background-repeat: no-repeat;

  z-index: 10;
}



#TRESC.start > .BLOK2 > div.tlo
{
  background-color: #e9ebee;
}



#TRESC.start > .BLOK2
{
  color: #333;

  padding-top: 0px;
}



#TRESC.start > .BLOK2 > .tresc
{
  margin-top: 20px;
}



#TRESC.start > .BLOK3 > div.tlo
{
  background-color: rgba(30, 29, 28, 1);
}



#TRESC.start > .BLOK3
{
  color: #DDD;
}



#TRESC.start > .BLOK4 > div.tlo
{
  background-color: #fff;
}



#TRESC.start > .BLOK2
{
  color: #333;
}


/************************************************************/

#TRESC.standardowa > .BLOK1 > .tlo
{
  background-color: #fff;
}



/***************************** KONTAKT *******************************/

#TRESC.kontakt > .BLOK1 > .tresc
{
  position: relative !important;
}



#TRESC.kontakt > .BLOK1 > .tresc > .kolumna
{
  display: inline-block;
  vertical-align: top;
}



#TRESC.kontakt > .BLOK1 > .tresc .tytul
{
  font-size: 32px;
  font-weight: bold;
}



#TRESC.kontakt > .BLOK1 > .tresc .tytul,
#TRESC.kontakt > .BLOK1 > .tresc .tekst
{
  width: 100%;
}



@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{

  #TRESC.kontakt > .BLOK2 > .tlo
  {
    background-color: #999999;
  }

}






@media (max-width: 1200px)
{

  #TRESC.kontakt > .BLOK1 > .tresc > .kolumna
  {
    width: 100%;

    margin-top: 20px;
  }
  
}



@media (min-width: 1200px)
{

  #TRESC.kontakt > .BLOK1 > .tresc > .kolumna
  {
    min-height: 460px;
  }
  


  #TRESC.kontakt > .BLOK1 > .tresc > .lewa.kolumna
  {
    width: 360px;
  }
  


  #TRESC.kontakt > .BLOK1 > .tresc > .prawa.kolumna
  {
    width: 600px;
  }
  
}



#TRESC.kontakt > .BLOK1 > .tresc .mapa
{
  width: 100%;
  height: 450px;

  border-radius: 3px;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
  





/************************************************************/



