

/**************************** FORMULARZE ****************************/


/************ Podstawa ************/

.otoczka_pola
{
  min-width: 400px;
  width: 600px;
  min-height: 36px;
  margin: 5px auto;

  color: #333;
  font-family: inherit;
  font-size: 18px;

  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
}



input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
button,
textarea
{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 34px;
  padding: 2px 5px;

  color: #333;
  font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
}



input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus,
button:focus,
textarea:focus
{
  color: #333;

  background-color: transparent;
  border: none;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
}



input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
select:disabled,
button:disabled,
textarea:disabled
{
  color: #666;

  background-color: #ddd;
  border: none;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
}



.otoczka_pola.button
{
  min-width: 300px !important;
  width: 300px !important;
}



button
{
  min-width: 298px;
  width: auto;
  cursor: pointer;
  
  text-align: center;
  background-color: #999;

  -webkit-box-shadow: inset 1px 2px 3px 0px #959595;
  -moz-box-shadow: inset 1px 2px 3px 0px #959595;
  box-shadow: inset 1px 2px 3px 0px #959595;
}



button:focus
{
  color: #fff;
  background-color: #666;

  cursor: pointer;

  -webkit-box-shadow: inset 1px 2px 3px 0px #616161;
  -moz-box-shadow: inset 1px 2px 3px 0px #616161;
  box-shadow: inset 1px 2px 3px 0px #616161;
}



input[type=radio]
{
  width: 20px;
  height: 20px;
  padding: 2px 5px;
}



select.Data
{
  display: inline-block;
  min-width: 26.6%;
  width: 26.6%;
  margin: 0px;
}



select.Data:first-child
{
  margin-left: 5px;
}
