/*    CSS   */



#NAGLOWEK > div
{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;

  height: inherit;
  z-index: 5;

  background-color: rgba(30, 29, 28, 1);

  overflow: hidden;
}



#NAGLOWEK > div > div.tytul
{
  position: absolute;
  bottom: -10px;
  left: 70px;

  width: 120px;
  height: 100px;

  background-image: url('../img/AS_C,S.png');
  background-size: 100% auto;

  z-index: 8;
}



#NAGLOWEK > div > div.tytul > div
{
  display: block;

  position: absolute;
  bottom: 10px;
  left: 120px;

  width: 180px;
  height: 100px;

  background-image: url('../img/ODZIERZ ROBOCZA_S.png');
  background-position: center;
  background-size: 120px auto;
  background-repeat: no-repeat;

  z-index: 8;
}



#NAGLOWEK > div > .wyszukiwarka
{
  float: right;
  display: block-inline;

  position: relative;

  min-width: 100px !important;
  width: 100px !important;

  height: 43px;

  margin: 0px;
  margin-top: 50px;

  background-color: transparent;
  box-shadow: none;
  border: none;

  z-index: 8;
}



#NAGLOWEK > div > .wyszukiwarka > div
{
  position: absolute;

  right: 0px;
  top: 0px;

  min-width: 34px !important;
  width: 34px !important;
  height: 34px;

  background-color: transparent;
  background-image: url( '/static/img/lupa_m_p.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: none;

  z-index: 9;
}



#NAGLOWEK > div > .menu
{
  float: right;
  display: block-inline;

  width: 150px;
  height: 90px;

  font-size: 20px;
  text-align: center;
  line-height: 130px;
  color: #999;

  z-index: 8;
}



#NAGLOWEK > div > div.menu.wybrany,
#NAGLOWEK > div > div.menu:hover
{
  border-bottom: 3px #ff7000 solid;
  color: #DDD;
}



