/*    CSS   */



#NAGLOWEK 
{
  position: relative;
  
  height: 70px;
  min-height: 70px;
  max-height: 70px;

  overflow: visible !important;

/*  background-color: #fff;
*/
  z-index: 37 !important;
}



#NAGLOWEK > div
{
  position: fixed;
  left: 0px;
  right: 15px;
  top: 0px;

  height: 70px;
  min-height: 70px;

  padding-right: 15px;

  background-color: rgba(30, 29, 28, 1);
  overflow: hidden;

  -webkit-box-shadow: 0px 3px 15px 0px rgba( 51, 51, 51, 0.4 );
  -moz-box-shadow: 0px 3px 15px 0px rgba( 51, 51, 51, 0.4 );
  box-shadow: 0px 3px 15px 0px rgba( 51, 51, 51, 0.4 );

  z-index: 35;
}



#NAGLOWEK .tytul
{
  position: absolute;
  bottom: -10px;
  left: 10px;

  width: 84px;
  height: 70px;
  min-height: 70px;

  background-image: url('../img/AS_C,S.png');
  background-size: 100% auto;

  z-index: 38;
}



#NAGLOWEK .wyszukiwarka
{
  float: right;
  display: block-inline;

  position: relative;
  top: -30px;

  min-width: 100px !important;
  width: 100px !important;

  height: 43px;

  margin: 0px;
  margin-top: 50px;

  background-color: transparent;
  box-shadow: none;
  border: none;

  z-index: 38;
}



#NAGLOWEK .wyszukiwarka > div
{
  position: absolute;

  right: 0px;
  top: 0px;

  min-width: 34px !important;
  width: 34px !important;
  height: 34px;

  background-color: transparent;
  background-image: url( '/static/img/lupa_m_p.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: none;

  z-index: 39;
}



#NAGLOWEK > div > .guzik_menu
{
  float: right;
  display: block-inline;

  position: relative;
  top: -30px;

  min-width: 34px !important;
  width: 34px !important;

  height: 34px;

  margin: 0px 15px;
  margin-top: 50px;


  background-image: url( '../img/menu.png' );
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}



#NAGLOWEK > div > .menu
{
  display: none;
}



#NAGLOWEK > div > .guzik_menu
{
  display: inline-block;
}



@media screen and (min-width: 750px)
{

  #NAGLOWEK > div > .menu
  {
    display: inline-block;
  }



  #NAGLOWEK > div > .guzik_menu
  {
    display: none;
  }

}



#NAGLOWEK > div > .menu
{
  float: right;
  display: block-inline;

  position: relative;
  top: -30px;

  width: 150px;
  height: 90px;
  min-height: 90px;
  max-height: 90px;

  font-size: 20px;
  text-align: center;
  line-height: 130px;
  color: #999;

  z-index: 38;
}



#NAGLOWEK > div > div.menu.wybrany,
#NAGLOWEK > div > div.menu:hover
{
  border-bottom: 3px #ff7000 solid;
  color: #DDD;
}



/***************** MOBILE *****************/

@media screen and (min-width: 750px)
{

  #NAGLOWEK > div > .menu
  {
    width: 150px;
  }

}

@media screen and (min-width: 1000px)
{

  #NAGLOWEK 
  {
    height: 100px;
    max-height: 100px;
  }



  #NAGLOWEK > div
  {
    height: 100px;
    max-height: 100px;
  }



  #NAGLOWEK .tytul
  {
    left: 70px;

    width: 120px;
    height: 100px;
    max-height: 100px;
  }



  #NAGLOWEK .tytul > div
  {
    display: block;

    position: absolute;
    bottom: 10px;
    left: 110px;

    width: 180px;
    height: 100px;
    max-height: 100px;

    background-image: url('../img/odziez_robocza_b.png');
    background-position: center;
    background-size: 130px auto;
    background-repeat: no-repeat;

    z-index: 38;
  }



  #NAGLOWEK .wyszukiwarka,
  #NAGLOWEK > div > .menu
  {
    top: 0px;
  }

}

