/*  CSS   */



@font-face 
{
  font-family: 'OS_Regular';
  src: url('/static/img/czcionki/OpenSans-Regular.ttf');
}



@font-face 
{
  font-family: 'OS_Bold';
  src: url('/static/img/czcionki/OpenSans-Bold.ttf');
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video
{
  margin: 0px;
  padding: 0px;

  border: 0px;

  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}



body, html
{
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  
  background-color: rgba(30, 29, 28, 1);

  color: #333;
  font-family: 'OS_Regular', sans-serif;
  font-size: 19px;
  line-height: 1.45;
}



body
{
  position: absolute;

  overflow: hidden;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
  display: block;
}



a, a:hover, a:active, a:visited,
.link
{
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}



a:hover
{
  color: #444;
  text-decoration: none;
  font-weight: bold;
}



.link
{
  cursor: pointer;
}



ul
{
  list-style: none;
}



.abs_pelny
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.rel_pelny
{
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.fix_pelny
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}




/********************* TRESC PODSTAWOWA **********************/


#BLOK_GLOWNY
{
  display: none;

  padding-right: 15px;

  z-index: 3;
}



#BLOK_GLOWNY > .fragment
{
  position: relative;
  z-index: 5;

  overflow: hidden;
}



#PRODUKT
{
  display: none;

  z-index: 100;
}



#PRODUKT > .tlo
{
  background-color: rgba( 180, 180, 180, 0.7 );

  z-index: 102;
}



#PRODUKT .nano-pane
{
  z-index: 120;
}



#PRODUKT > .tresc
{
  margin: 0 !important; 

  z-index: 103;
}



#PRODUKT > .tresc > div:first-child
{
  position: relative;

  margin: 40px auto !important;
  padding: 0 !important;

  color: #333;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px #999;
  border-radius: 3px;

  overflow: hidden;

  z-index: 103;
}



#PRODUKT .producent
{
  padding: 0px 15px;
  padding-top: 5px;

  line-height: 26px;
  font-size: 16px;

  color: #ddd;
  background-color: #333;
}



#PRODUKT .nazwa
{
  padding: 0px 15px;
  padding-bottom: 10px;

  line-height: 26px;
  font-weight: bold;
  font-size: 24px;

  color: #ddd;
  background-color: #333;
}



#PRODUKT .zdjecie
{
  margin: 10px 30px;

  border-radius: 3px;

  overflow: hidden;
}



#PRODUKT .zdjecie > img
{
  width: 100%;
}



#PRODUKT .kreska
{
  width: 100%;
  height: 30px;
  background-color: #e9ebee;
}



#PRODUKT .tabela
, #PRODUKT .tabela > div
{
  position: relative;
  width: 100%;
}



#PRODUKT .tabela > div
{
  display: none;
}



#PRODUKT .tabela > div > div
{
  margin-left: 215px;
  padding: 10px 15px;
}



#PRODUKT .tabela > div > div:first-child
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 185px;

  margin-left: 0;

  color: #333;
  background-color: #fff;
}



#PRODUKT .tabela > .wypelniony
{
  display: block;
}



#PRODUKT .tabela .piktogram
{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 5px 10px;
  margin-top: 0;

  background-size: 48px;
}



/******************** MENU ********************/

#MENU
{
  position: fixed !important;
  top: 0px;
  right: -300px;
  
  min-width: 300px;
  width: 300px;
  min-height: 100%;
  max-height: 100%;
  height: 100%;

  background-color: #333;

  z-index: 60;
}



#MENU > div
{
  border-bottom: solid #000 1px;
}



#MENU > .nakladka
{
  display: none;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  border: none;

  z-index: 61;
}



#MENU > .tytul
{
  display: block;
  
  width: 100%;
  height: 70px;

  line-height: 100px;
  color: #DDD;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

  z-index: 60;
}



#MENU > .menu
{
  display: block;

  position: relative;
  
  width: 100%;
  min-height: 50px;

  padding-left: 15px;

  line-height: 50px;
  color: #ccc;
  border-bottom: solid #000 1px;

  z-index: 62;
}



/********* Treść standardowa *********/

@media (min-width: 768px)
{

  #TRESC.standardowa > div > .tresc
  , #TRESC.start > div > .tresc
  , #TRESC.oferta > div > .tresc
  , #STOPKA > div > div
  , #PRODUKT .tresc > div:first-child
  {
    width: 650px;
  }

}



@media screen and (min-width: 870px)
{

  #TRESC.standardowa > div > .tresc
  , #TRESC.start > div > .tresc
  , #TRESC.oferta > div > .tresc
  , #STOPKA > div > div
  , #PRODUKT .tresc > div:first-child
  {
    margin: 50px auto;
  }

}



@media (min-width: 992px)
{

  #TRESC.standardowa > div > .tresc
  , #TRESC.start > div > .tresc
  , #TRESC.oferta > div > .tresc
  , #STOPKA > div > div
  , #PRODUKT .tresc > div:first-child
  {
    width: 800px;
  }

}

@media (min-width: 1200px)
{

  #TRESC.standardowa > div > .tresc
  , #TRESC.start > div > .tresc
  , #TRESC.oferta > div > .tresc
  , #STOPKA > div > div
  , #PRODUKT .tresc > div:first-child
  {
    width: 970px;
  }
  
}



#TRESC.standardowa > div > .tresc
, #TRESC.start > div > .tresc
, #TRESC.oferta > div > .tresc
, #STOPKA > div > div
, #PRODUKT .tresc > div:first-child
{
  margin: 10px auto 30px auto;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}



#TRESC.oferta > div > .tresc
{
  margin: 0px auto;
  margin-top: 10px;
}



#TRESC.standardowa > div > .edytuj
{
  position: absolute;
  top: 5px;
  right: 10px;
}






/** initial setup **/

.nano
{
  overflow : hidden;
}



.nano > .nano-content
{
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.nano > .nano-content:focus
{
  outline: thin dotted;
}



.nano > .nano-content::-webkit-scrollbar
{
  display: none;
}



.has-scrollbar > .nano-content::-webkit-scrollbar
{
  display: block;
}



.nano > .nano-pane
{
  background            : rgba(160, 160, 160, 1);
  position              : absolute;
  width                 : 15px;
  right                 : 0;
  top                   : 0;
  bottom                : 0;
/*
  visibility            : hidden\9; /* Target only IE7 and IE8 with this hack /
  opacity               : 0.01;
*/
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;

  z-index: 50;
}



.nano > .nano-pane > .nano-slider
{
  background            : #444;
  background            : rgba(0,0,0,.6);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 2px;
  -webkit-border-radius : 2px;
  border-radius         : 2px;

  z-index: 51;
}


/*
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed
{
  visibility            : visible\9; /* Target only IE7 and IE8 with this hack /
  opacity               : 0.99;
}
*/
