


#STOPKA
{
  position: relative;

  height:250px;

  color: #aaa;
  font-size: 16px;

  padding-right: 15px;

  -webkit-box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
  -moz-box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
  box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
}



#STOPKA > div > div
{
  position: relative;

  height: inherit;

  margin: 0 auto;

  text-align: center;

  z-index: 10;
}



#STOPKA > div > div > div
{
  display: inline-block;
  
  padding-top: 25px;

  vertical-align: top;
}



#STOPKA .menu
{
  width: 200px;
  height: inherit;

  z-index: 11;
}



#STOPKA .menu > div
{
  width: 200px;
  height: 40px;
  
  line-height: 40px;
  font-size: 15px;

  z-index: 12;
}



#STOPKA .menu > div:hover
{
  text-decoration: underline;
}



#STOPKA .kontakt
{
  width: 300px;
}



#STOPKA .kontakt > .tytul
{
  font-size: 18px;
  font-weight: bold;
}



#STOPKA .kontakt > .tekst
{
  font-size: 15px;

  margin-top: 5px;
  line-height: 24px;
}



#STOPKA .spolecznosci
{
  width: 200px;
  height: 100px;

  margin-left: 20px;
}



#STOPKA .spolecznosci > div
{
  display: inline-block;
  
  width: 32px;
  height: 32px;

  margin-left: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  border-radius: 5px;
}



#STOPKA .spolecznosci > .fb
{
  margin-top: 30px;

  background-image: url( '../img/fb.png' );
}



#STOPKA .strzalka > .obrazek
{
  position: relative;

  width: 40px;
  height: 40px;

  background-image: url('../img/strzalki_g.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#STOPKA .strzalka > .obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki_g.png');
}

