/*    CSS   */



body > div
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;

  padding-right:15px;

  overflow: hidden;
}



body > div > .fragment
{
  position: relative;
  z-index: 5;

  overflow: hidden;
}



#NAGLOWEK 
{
  position: relative;

  height: 100px;

  z-index: 7;
}



#TRESC
{
  position: relative;

  padding-bottom: 50px;
}



#STOPKA
{
  height:200px;
}



/**************************** #TRESC ****************************/


#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}



#TRESC > div > div.tlo
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 10;
}



#TRESC > div > div.nakladka
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 11;
}



#TRESC.start > div.BLOK1 > div.napis
{
  position: relative;
  width: 600px;

  margin-top: 200px;
  margin-left: auto;
  margin-right: 50px;

  font-size: 78px;
  font-weight: bold;
  color: #ff8000;
  text-align: center;
  
  text-shadow: #000 0px 0px 20px;

  z-index:12;
}



#TRESC.start > div > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > div > div.strzalka > div.obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > div > div.strzalka > div.obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > div > div.strzalka > div.podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > div > div.strzalka > div.podpis
{
  cursor: pointer;
}



#TRESC > div > div.tytul
{
  position: relative;

  z-index:12;
}



#TRESC > div > div.tresc
{
  position: relative;

  z-index:12;
}



/********* Treść standardowa *********/

#TRESC div.lista_produktow > ul > li
{
  position: relative;

  height: 250px;

  color: inherit;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .nazwa
{
  position: absolute;
  left: 10px;
  top: 5px;

  width: 200px;
  height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .obrazek
{
  position: absolute;
  left: 10px;
  top: 35px;

  width: 250px;
  height: 200px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}



#TRESC div.lista_produktow > ul > li > .opis
{
  position: relative;
  left: 270px;
  top: 40px;

  width: 440px;
  height: 200px;

  word-wrap: normal;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .przeznaczenie
{
  position: absolute;
  right: 0px;
  top: 40px;
}



#TRESC div.lista_produktow > ul > li > .zagrozenia
{
  position: absolute;
  right: 0px;
  top: 40px;
}






/********* Treść standardowa *********/

@media (min-width: 768px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc,
  #TRESC.produkt > div
  {
    width: 650px;
  }
}

@media (min-width: 992px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc,
  #TRESC.produkt > div
  {
    width: 800px;
  }
}

@media (min-width: 1200px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc
  {
    width: 970px;
  }
  
}


#TRESC.standardowa > div,
#TRESC.start > div > div.tresc
{
  margin: 50px;
  margin-right: auto;
  margin-left: auto;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}



#TRESC.standardowa > div > .akapit,
#TRESC.start > div > div.tresc > .akapit
{

}



#TRESC.standardowa > div > .edytuj
{
  position: absolute;
  top: 5px;
  right: 10px;
}




/**************************** FORMULARZE ****************************/


/************ Podstawa ************/

.otoczka_pola
{
  min-width: 400px;
  width: 600px;
  min-height: 36px;
  margin: 5px auto;

  color: #333;
  font-family: inherit;
  font-size: 18px;

  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
}

input[type=text],
input[type=password],
input[type=number],
select,
button,
textarea
{
  width: 100%;
  min-height: 34px;
  padding: 2px 5px;

  color: #333;
  font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus,
button:focus,
textarea:focus
{
  color: #333;

  background-color: transparent;
  border: none;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
}

input[type=radio]
{
  width: 20px;
  height: 20px;
  padding: 2px 5px;
}

select.Data
{
  display: inline-block;
  min-width: 26.6%;
  width: 26.6%;
  margin: 0px;
}

select.Data:first-child
{
  margin-left: 5px;
}



/************ Dodatki ************/

#id_opis
{
  min-height: 100px;
  word-wrap: normal;
}



#id_opis > option
{
  min-height: 100px;
  word-wrap: normal;
}



