/*    CSS   */


/**************************** #TRESC ****************************/

#TRESC
{
  position: relative;
}



#TRESC > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 500px;
}



#TRESC > div > .tresc
{
  position: relative;

  z-index:12;
}



#TRESC > div > .tlo,
#TRESC > div > .nakladka
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}



#TRESC > div > .tlo,
{
  z-index: 10;
}



#TRESC > div > .nakladka
{
  z-index: 11;
}




/**************************** #TRESC - START ****************************/

#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}



@media screen and (min-width:600px)
{

  #TRESC.start > .BLOK1 > .napis
  {
    position: absolute;
    width: 500px;
    height: 292px;

    bottom: 130px;
    right: -10px;

    color: #ff7000;
    font-size: 76px;
    font-family: 'OS_Bold', sans-serif;

    text-shadow: 1px 1px 1px #000;

    /*
    background-image: url( '/static/img/napis_ver1.png' );
    background-position: right;
    background-repeat: no-repeat;
    */

    z-index:12;
  }

}



#TRESC.start > .BLOK1 > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  cursor: pointer;
}



/**************************** Treść - oferta ***********************/

#TRESC.oferta > div
{
  color: #333;
}



#TRESC.oferta > .BLOK1
{
  min-height: 100px !important;
}



#TRESC.oferta > .BLOK1 > .tlo
{
  background-color: #fbfbfb;
}



#TRESC.oferta > .BLOK2 > .tlo
{
  background-color: #e9ebee;

  -webkit-box-shadow: inset 0px 1px 8px 0px #aaa;
  -moz-box-shadow: inset 0px 1px 8px 0px #aaa;
  box-shadow: inset 0px 1px 4px 0px #aaa;
}



#TRESC.oferta > .BLOK1 > .tresc
{
  margin-top: 30px;
  margin-bottom: 30px;
}



#TRESC.oferta > .BLOK1 > .tresc > div
{
  position: relative;

  display: inline-block;

  min-width: 28%;
  width: 28%;
  max-height: 50px;

  margin-left: 2.05%;
  margin-right: 2.05%;

  background-color: transparent;
  border: none;
  box-shadow: none;

  overflow: hidden;
  z-index:12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
{
  display: none;
}



@media screen and (min-width: 600px)
{

  #TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
  {
    display: inline-block;

    height: 50px;

    color: #ff7000;

    background-image: url( '../img/strzalka_p.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy.disabled
{
  background-image: url( '../img/strzalka_c.png' );
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select,
#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  min-width: 275px;
  width: 275px;

  height: 50px;

  margin-left: 25px;
  padding-right: 30px;

  box-shadow: none;
  color: #333;
  background: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  color: #ff7000 !important;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select option
{
  color: #333;
  background-color: #f5f5f5;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry
{
  position: relative;

  display: inline-block;

  min-width: 100%;
  width: 100%;
  min-height: 115px;
  max-height: none;

  margin: 0px;
  padding-top: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > *
{
  min-width: 100%;
  width: 100%;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista
{
  text-align: center;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > *
{
  display: inline-block;
  
  height: 36px;

  padding: 10px 20px;
  padding-bottom: 0px;

  cursor: pointer;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wybrana
{
  color: #ddd;
  background-color: rgba(30, 29, 28, 1);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wyczysc
{
  color: #333;
  background-color: #ff7000;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka
{
  min-height: 50px;

  margin-top: 20px;

  text-align: center;
}


/************* Wyszukaj **************/

#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > *
{
  position: relative;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .komunikaty
{
  width: 500px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj input
{
  min-width: 430px;
  width: 430px;

  margin-right: 70px;

  z-index: 11;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;

  min-width: 0px;
  width: 36px;

  z-index: 12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button
{
  right: 36px;

  background-color: transparent;
  background-image: url( '/static/img/lupa_d_c.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div
{
  background-color: transparent;
  background-image: url( '/static/img/delete.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select select
{
  z-index: 11px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  display: inline-block;

  min-height: 100px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  position: relative;

  top: -10px;

  width: 300px;

  margin: 5px 0px;
  margin-left: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple button
{
  margin: 10px 0px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola
{
  min-width: 400px;
  width: 400px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple > button
{
  min-width: 100px;
  width: auto;

  color: #ddd;
  background-color: rgba(30, 29, 28, 1);
  box-shadow: none;
  border-radius: 3px;
}




/**************************** Treść - lista produktów ***********************/

#TRESC div.lista_produktow > ul > li
{
  position: relative;

  height: 250px;
  margin-bottom: 10px;

  color: inherit;
  overflow: hidden;

  cursor: pointer;
  background-color: #fbfbfb;
  border-radius: 3px;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}



#TRESC div.lista_produktow > ul > li.komentarz > div
{
  position: relative;

  width: 90%;
  min-height: 30px;

  margin: 0px auto;
  line-height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .nazwa
{
  position: absolute;
  left: 10px;
  top: 5px;

  width: 200px;
  height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .obrazek
{
  position: absolute;
  left: 10px;
  top: 35px;

  width: 250px;
  height: 200px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}



#TRESC div.lista_produktow > ul > li > .opis
{
  position: relative;
  left: 270px;
  top: 40px;

  width: 440px;
  height: 200px;

  word-wrap: normal;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .przeznaczenie
{
  position: absolute;
  right: 0px;
  top: 40px;

  width: 200px;
  height: 50px;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .zagrozenia
{
  position: absolute;
  right: 0px;
  top: 90px;

  width: 200px;
  height: 50px;
  overflow: hidden;
}



