/*    CSS   */



body > div
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;

  padding-right:15px;

  overflow: hidden;
}



body > div > .fragment
{
  position: relative;
  z-index: 5;

  overflow: hidden;
}



#PRODUKT
{
  display: none;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 100;
}



#PRODUKT > .tlo
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: rgba( 133, 133, 133, 0.7 );

  z-index: 100;
}



#PRODUKT > .tresc
{
  position: relative;
  margin: 150px auto;

  padding: 15px 20px;

  width: 800px;
  height: 600px;

  background-color: rgba( 233, 233, 233, 1 );

  z-index: 101;
}



#MENU
{
  position: fixed;
  top: 0px;
  right: -300px;
  
  min-width: 300px;
  width: 300px;
  min-height: 100%;
  max-height: 100%;
  height: 100%;

  background-color: #333;

  z-index: 60;
}



#MENU > div
{
  border-bottom: solid #000 1px;
}



#MENU > .nakladka
{
  display: none;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  border: none;

  z-index: 61;
}



#MENU > .tytul
{
  display: block;
  
  width: 100%;
  height: 70px;

  line-height: 100px;
  color: #DDD;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

  z-index: 60;
}



#MENU > .menu
{
  display: block;

  position: relative;
  
  width: 100%;
  min-height: 50px;

  padding-left: 15px;

  line-height: 50px;
  color: #ccc;
  border-bottom: solid #000 1px;

  z-index: 62;
}


#TRESC
{
  position: relative;
}



#STOPKA
{
  height:200px;

  -webkit-box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
  -moz-box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
  box-shadow: 0px -3px 15px 0px rgba( 51, 51, 51, 0.4 );
}




/**************************** #TRESC ****************************/

#TRESC > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}

#TRESC > div > div.tytul,
#TRESC > div > div.tresc
{
  position: relative;

  z-index:12;
}



#TRESC > div > div.tlo,
#TRESC > div > div.nakladka
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}



#TRESC > div > div.tlo,
{
  z-index: 10;
}



#TRESC > div > div.nakladka
{
  z-index: 11;
}




/**************************** #TRESC - START ****************************/

#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}



@media screen and (min-width:600px)
{

  #TRESC.start > div.BLOK1 > div.napis
  {
    position: absolute;
    width: 556px;
    height: 292px;

    bottom: 130px;
    right: -10px;

    background-image: url( '/static/img/napis_ver1.png' );
    background-position: right;
    background-repeat: no-repeat;

    z-index:12;
  }

}



#TRESC.start > div > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > div > div.strzalka > div.obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > div > div.strzalka > div.obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > div > div.strzalka > div.podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > div > div.strzalka > div.podpis
{
  cursor: pointer;
}



/**************************** Treść - oferta ***********************/

#TRESC.oferta > div
{
  color: #333;
}



#TRESC.oferta > div.BLOK1
{
  min-height: 100px !important;
}



#TRESC.oferta > .BLOK1 > .tlo
{
  background-color: #fbfbfb;
}



#TRESC.oferta > .BLOK2 > .tlo
{
  background-color: #e9ebee;

  -webkit-box-shadow: inset 0px 1px 8px 0px #aaa;
  -moz-box-shadow: inset 0px 1px 8px 0px #aaa;
  box-shadow: inset 0px 1px 4px 0px #aaa;
}



#TRESC.oferta > .BLOK1 > .tresc
{
  margin-top: 30px;
  margin-bottom: 30px;
}



#TRESC.oferta > .BLOK1 > .tresc > div
{
  position: relative;

  display: inline-block;

  min-width: 28%;
  width: 28%;
  max-height: 50px;

  margin-left: 2.05%;
  margin-right: 2.05%;

  background-color: transparent;
  border: none;
  box-shadow: none;

  overflow: hidden;
  z-index:12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
{
  display: none;
}



@media screen and (min-width: 600px)
{

  #TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
  {
    display: inline-block;

    height: 50px;

    color: #ff7000;

    background-image: url( '../img/strzalka_p.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy.disabled
{
  background-image: url( '../img/strzalka_c.png' );
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select,
#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  min-width: 275px;
  width: 275px;

  height: 50px;

  margin-left: 25px;
  padding-right: 30px;

  box-shadow: none;
  color: #333;
  background: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  color: #ff7000 !important;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select option
{
  color: #333;
  background-color: #f5f5f5;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry
{
  position: relative;

  display: inline-block;

  min-width: 100%;
  width: 100%;
  min-height: 115px;
  max-height: none;

  margin: 0px;
  padding-top: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > *
{
  min-width: 100%;
  width: 100%;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista
{
  text-align: center;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > *
{
  display: inline-block;
  
  height: 36px;

  padding: 10px 20px;
  padding-bottom: 0px;

  cursor: pointer;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wybrana
{
  color: #ddd;
  background-color: rgba(30, 29, 28, 1);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wyczysc
{
  color: #333;
  background-color: #ff7000;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka
{
  min-height: 50px;

  margin-top: 20px;

  text-align: center;
}


/************* Wyszukaj **************/

#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > *
{
  position: relative;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .komunikaty
{
  width: 500px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj input
{
  min-width: 430px;
  width: 430px;

  margin-right: 70px;

  z-index: 11;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;

  min-width: 0px;
  width: 36px;

  z-index: 12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button
{
  right: 36px;

  background-color: transparent;
  background-image: url( '/static/img/lupa_d_c.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div
{
  background-color: transparent;
  background-image: url( '/static/img/delete.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select select
{
  z-index: 11px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  display: inline-block;

  min-height: 100px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  position: relative;

  top: -10px;

  width: 300px;

  margin: 5px 0px;
  margin-left: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple button
{
  margin: 10px 0px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola
{
  min-width: 400px;
  width: 400px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple > button
{
  min-width: 100px;
  width: auto;

  color: #ddd;
  background-color: rgba(30, 29, 28, 1);
  box-shadow: none;
  border-radius: 3px;
}




/**************************** Treść - lista produktów ***********************/

#TRESC div.lista_produktow > ul > li
{
  position: relative;

  height: 250px;
  margin-bottom: 10px;

  color: inherit;
  overflow: hidden;

  cursor: pointer;
  background-color: #fbfbfb;
  border-radius: 3px;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}



#TRESC div.lista_produktow > ul > li.komentarz > div
{
  position: relative;

  width: 90%;
  min-height: 30px;

  margin: 0px auto;
  line-height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .nazwa
{
  position: absolute;
  left: 10px;
  top: 5px;

  width: 200px;
  height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .obrazek
{
  position: absolute;
  left: 10px;
  top: 35px;

  width: 250px;
  height: 200px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}



#TRESC div.lista_produktow > ul > li > .opis
{
  position: relative;
  left: 270px;
  top: 40px;

  width: 440px;
  height: 200px;

  word-wrap: normal;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .przeznaczenie
{
  position: absolute;
  right: 0px;
  top: 40px;

  width: 200px;
  height: 50px;
  overflow: hidden;
}



#TRESC div.lista_produktow > ul > li > .zagrozenia
{
  position: absolute;
  right: 0px;
  top: 90px;

  width: 200px;
  height: 50px;
  overflow: hidden;
}






/********* Treść standardowa *********/

@media (min-width: 768px)
{
  #TRESC.standardowa > div > .tresc,
  #TRESC.oferta > div > .tresc,
  #TRESC.start > div > .tresc
  {
    width: 650px;
  }
}

@media (min-width: 992px)
{
  #TRESC.standardowa > div > .tresc,
  #TRESC.oferta > div > .tresc,
  #TRESC.start > div > .tresc
  {
    width: 800px;
  }
}

@media (min-width: 1200px)
{
  #TRESC.standardowa > div > .tresc,
  #TRESC.oferta > div > .tresc,
  #TRESC.start > div > .tresc
  {
    width: 970px;
  }
  
}



#TRESC.standardowa > div > .tresc,
#TRESC.oferta > div > .tresc,
#TRESC.start > div > .tresc
{
  margin: 10px auto 30px auto;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}



@media screen and (min-width: 870px)
{

  #TRESC.standardowa > div > .tresc,
  #TRESC.oferta > div > .tresc,
  #TRESC.start > div > .tresc
  {
    margin: 50px auto;
  }

}



#TRESC.oferta > div > .tresc
{
  margin: 0px auto;
  margin-top: 10px;
}



#TRESC.standardowa > div > .akapit,
#TRESC.start > div > .tresc > .akapit
{

}



#TRESC.standardowa > div > .edytuj
{
  position: absolute;
  top: 5px;
  right: 10px;
}




/**************************** FORMULARZE ****************************/


/************ Podstawa ************/

.otoczka_pola
{
  min-width: 400px;
  width: 600px;
  min-height: 36px;
  margin: 5px auto;

  color: #333;
  font-family: inherit;
  font-size: 18px;

  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
  box-shadow: 1px 1px 2px 0px rgba(238,238,238,1);
}



input[type=text],
input[type=password],
input[type=number],
select,
button,
textarea
{
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 34px;
  padding: 2px 5px;

  color: #333;
  font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
  box-shadow: inset 1px 2px 3px 0px rgb(248,248,248);
}



input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus,
button:focus,
textarea:focus
{
  color: #333;

  background-color: transparent;
  border: none;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
}



input[type=text]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
select:disabled,
button:disabled,
textarea:disabled
{
  color: #666;

  background-color: #ddd;
  border: none;
  outline: none;

  -webkit-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  -moz-box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
  box-shadow: inset 1px 2px 3px 0px rgb(238,238,238);
}



.otoczka_pola.button
{
  min-width: 300px !important;
  width: 300px !important;
}



button
{
  min-width: 300px;
  width: auto;
  cursor: pointer;
  
  text-align: center;
  background-color: #999;

  -webkit-box-shadow: inset 1px 2px 3px 0px #959595;
  -moz-box-shadow: inset 1px 2px 3px 0px #959595;
  box-shadow: inset 1px 2px 3px 0px #959595;
}



button:focus
{
  color: #fff;
  background-color: #666;

  cursor: pointer;

  -webkit-box-shadow: inset 1px 2px 3px 0px #616161;
  -moz-box-shadow: inset 1px 2px 3px 0px #616161;
  box-shadow: inset 1px 2px 3px 0px #616161;
}



input[type=radio]
{
  width: 20px;
  height: 20px;
  padding: 2px 5px;
}



select.Data
{
  display: inline-block;
  min-width: 26.6%;
  width: 26.6%;
  margin: 0px;
}



select.Data:first-child
{
  margin-left: 5px;
}



/************ Dodatki ************/

#id_opis
{
  min-height: 100px;
  word-wrap: normal;
}



#id_opis > option
{
  min-height: 100px;
  word-wrap: normal;
}



