/*    CSS   */


/**************************** #TRESC ****************************/

#TRESC
{
  position: relative;
}



#TRESC > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 500px;
}



#TRESC > div > .tresc
{
  position: relative;

  z-index:12;
}



#TRESC > div > .tlo,
{
  z-index: 10;
}



#TRESC > div > .nakladka
{
  z-index: 11;
}




/**************************** #TRESC - START ****************************/

#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}



@media screen and (min-width:600px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    display: none;
    position: absolute;
    width: 435px;
    height: 185px;

    top: 40px;
    right: 340px;
    
    background-image: url( '/static/img/2.png' );
    background-position: right;
    background-repeat: no-repeat;

    z-index:12;
  }
}



@media screen and (min-width:1000px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    top: 20px;
    right: 130px;
  }
}



@media screen and (min-width:1350px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    right: 200px;
  }
}



@media screen and (min-width:1650px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    right: 340px;
  }
}



#TRESC.start > .BLOK1 > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  cursor: pointer;
}



/**************************** Treść - oferta ***********************/

#TRESC.oferta > div
{
  color: #333;
}



#TRESC.oferta > .BLOK1
{
  min-height: 100px !important;
}



#TRESC.oferta > .BLOK1 > .tlo
{
  background-color: #fbfbfb;
}



#TRESC.oferta > .BLOK2
{
  min-height: 300px;
}



#TRESC.oferta > .BLOK2 > .tlo
{
  background-color: #e9ebee;

  -webkit-box-shadow: inset 0px 1px 8px 0px #aaa;
  -moz-box-shadow: inset 0px 1px 8px 0px #aaa;
  box-shadow: inset 0px 1px 4px 0px #aaa;
}



#TRESC.oferta > .BLOK1 > .tresc > div
{
  position: relative;

  display: inline-block;

  min-width: 28%;
  width: 28%;
  max-height: 50px;

  margin-left: 2.05%;
  margin-right: 2.05%;

  background-color: transparent;
  border: none;
  box-shadow: none;

  overflow: hidden;
  z-index:12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
{
  display: none;
}



@media screen and (min-width: 600px)
{

  #TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy
  {
    display: inline-block;

    height: 50px;

    color: #ff7000;

    background-image: url( '../img/strzalka_p.png' );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy.disabled
{
  background-image: url( '../img/strzalka_c.png' );
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select,
#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  min-width: 275px;
  width: 275px;

  height: 50px;

  margin-left: 25px;
  padding-right: 30px;

  box-shadow: none;
  color: #333;
  background: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select[disabled=disabled]
{
  color: #ff7000 !important;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtr_podstawowy > select option
{
  color: #333;
  background-color: #f5f5f5;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry
{
  position: relative;

  display: inline-block;

  min-width: 100%;
  width: 100%;
  min-height: 115px;
  max-height: none;

  margin: 0px;
  padding-top: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > *
{
  min-width: 100%;
  width: 100%;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista
{
  text-align: center;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > *
{
  display: inline-block;
  position: relative;
  
  height: 36px;

  padding: 10px 20px;
  padding-bottom: 0px;

  cursor: pointer;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > div > div
{
  position: absolute;
  top: 0px;
  right: 0px;

  width: 15px;
  height: 15px;

  background-color: transparent;
  background-image: url('/static/img/delete.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wybrana
{
  color: #ddd;
  background-color: rgba(30, 29, 28, 1);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .lista > .wyczysc
{
  color: #333;
  background-color: #ff7000;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka
{
  min-height: 50px;

  margin-top: 20px;

  text-align: center;
}


/************* Wyszukaj **************/

#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > *
{
  position: relative;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .komunikaty
{
  width: 500px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj input
{
  min-width: 430px;
  width: 430px;

  margin-right: 70px;

  z-index: 11;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;

  min-width: 0px;
  width: 36px;

  z-index: 12;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj button
{
  right: 36px;

  background-color: transparent;
  background-image: url( '/static/img/lupa_d_c.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: none;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .wyszukaj div
{
  background-color: transparent;
  background-image: url( '/static/img/delete.png' );
  background-size: 65% 65%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select select
{
  z-index: 11px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  display: inline-block;

  min-height: 100px;
  max-height: 100px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple
{
  position: relative;

  top: -10px;

  width: 300px;

  margin: 5px 0px;
  margin-left: 10px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple button
{
  margin: 10px 0px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .otoczka_pola
{
  min-width: 400px;
  width: 400px;
}



#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka > .select button,
#TRESC.oferta > .BLOK1 > .tresc > .filtry > .zakladka form > .multiple > button
{
  min-width: 100px;
  width: auto;

  color: #ddd;
  background-color: rgba(30, 29, 28, 1);
  box-shadow: none;
  border-radius: 3px;
}




/**************************** Treść - lista produktów ***********************/

#TRESC div.lista_produktow > ul > li
{
  position: relative;

  height: 330px;
  margin-bottom: 10px;

  color: inherit;
  overflow: hidden;

  cursor: pointer;
  background-color: #fbfbfb;
  border-radius: 3px;
  border: 2px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}



#TRESC div.lista_produktow > ul > .komentarz
{
  max-height: 150px;

  background: none;
  border: none;
  cursor: default;
}



#TRESC div.lista_produktow > ul > .komentarz > div
{
  position: relative;

  width: 90%;
  min-height: 30px;

  margin: 0px auto;
  margin-top: 80px;
  line-height: 30px;

  text-align: center;
  font-weight: bold;
  font-size: 28px;
}



#TRESC div.lista_produktow > ul > .produkt
{
  color: #333;
}



#TRESC div.lista_produktow > ul > .produkt > .obrazek
{
  max-width: 100%;
  width: 260px;
  height: 220px;

  margin: 10px auto;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}



#TRESC div.lista_produktow > ul > .produkt > .nazwa
, #TRESC div.lista_produktow > ul > .produkt > .producent
, #TRESC div.lista_produktow > ul > .produkt > .zawody
, #TRESC div.lista_produktow > ul > .produkt > .zagrozenia
{
  margin-right: auto;
  margin-left: 300px;

  min-height: 50px;

  overflow: hidden;
}



#TRESC div.lista_produktow > ul > .produkt > .zawody
, #TRESC div.lista_produktow > ul > .produkt > .zagrozenia
{
  display: none;
}


#TRESC div.lista_produktow > ul > .produkt > .nazwa
, #TRESC div.lista_produktow > ul > .produkt > .producent
{
  min-height: 30px;
  height: 30px;

  margin-right: auto;
  margin-left: auto;

  font-weight: bold;
  text-align: center;
}



#TRESC div.lista_produktow > ul > .produkt > .nazwa
{

  margin-top: 10px;
  padding-top: 20px;

  font-size: 24px;
}



#TRESC div.lista_produktow > ul > .produkt > .producent
{
  padding-top: 0px;

  color: #666;
}



/******************* HOVER *******************/

#TRESC div.lista_produktow > ul > .produkt:hover
{
  color: #222;
}



#TRESC div.lista_produktow > ul > .produkt:hover > .producent
{
  color: #555;
}



#TRESC div.lista_produktow .produkt:hover .podpis
{
  color: #555;
}



/******************* MEDIA *******************/

@media screen and (min-width:650px)
{
  #TRESC div.lista_produktow > ul > li
  {
    height: 250px;
  }



  #TRESC div.lista_produktow > ul > .produkt > .obrazek
  {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
  }



  #TRESC div.lista_produktow > ul > .produkt > .nazwa
  {
    margin-top: 0px;
    margin-left: 280px;
    text-align: left;
  }



  #TRESC div.lista_produktow > ul > .produkt > .producent
  {
    margin-left: 300px;
    text-align: left;
  }



  #TRESC div.lista_produktow > ul > .produkt > .zagrozenia
  , #TRESC div.lista_produktow > ul > .produkt > .zawody
  {
    display: inline-block;
    min-width: 300px;
  }



  #TRESC div.lista_produktow > ul > .produkt > .zagrozenia
  {
    padding-top: 10px;
  }



  #TRESC div.lista_produktow .piktogram
  {
    width: 36px;
    height: 36px;
    
    margin: 5px;

    vertical-align: top;

    background-size: 100% 100%;
  }



  #TRESC div.lista_produktow .podpis
  {
    display: none;

    width: 100px;

    color: #666;
    text-align: right;
    font-weight: bold;
    line-height: 36px;
  }



  #TRESC div.lista_produktow .pokaz_wiecej
  {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 10px 30px 10px 10px;

    color: #999;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
  }



  #TRESC div.lista_produktow .pokaz_wiecej:hover
  {
    color: #666;
  }
}



@media screen and (min-width:1200px)
{
  #TRESC div.lista_produktow .podpis
  {
    display: inline-block;
  }
}



#TRESC div.lista_produktow > ul > .numery_stron
{
  height: 50px;
  padding: 10px 0px 0px 0px;

  text-align: center;
  background: none;
  cursor: default;
  border-width: 0px;
  border-top: 2px solid #d0d1d5;
}



#TRESC div.lista_produktow > ul > .numery_stron:first-child
{
  padding: 0px 0px 10px 0px;
  border-width: 0px;
  border-bottom-width: 2px;
}



#TRESC div.lista_produktow > ul > .numery_stron > span
{
  margin-top: 10px;
  padding: 5px 15px;
  line-height: 50px;
}



#TRESC div.lista_produktow > ul > .numery_stron > .kropki
{
  padding: 5px 5px;
}



#TRESC div.lista_produktow > ul > .numery_stron > .wybrana
, #TRESC div.lista_produktow > ul > .numery_stron > .link:hover
{
  border-radius: 5px;
  background-color: rgba(30, 29, 28, 1);

  color: #ddd;
  font-weight: bold;
}



