
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="fragment standardowa">

  <div class="BLOK1">

    <div class="tlo abs_pelny"></div>

    <div class="tresc">

      <div class="tytul">Potwierdzenie:</div>
      <div class="tresc">
        {{ request.session.potwierdzenie }}
        <br />
        <br />
        <div class="link_wroc">Powróć do wcześniejszej strony</div>

      </div>

    </div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}

