{% extends 'szablon.html' %}

{% block content %}

  <div class="BLOK1">

    <div class="tlo"></div>

    <div class="tytul">Formularz:</div>

    <div class="tresc">
      <form method="post">
        {% csrf_token %}
        
        {#  'nazwa', 'opis', 'firma', 'kolor',
            'rozmiar', 'waga', 'sztuk', 'rodzaj',
            'certyfikaty', 'zagrozenia', 'zawody'

            example: {{ formularz.nazwa }} #}

        <button type="submit">Dodaj</button>
      </form>
    </div>

  </div>

{% endblock content %}
