
<div id="NAGLOWEK" class="fragment">

  <div>

    <div class="tytul link" data-href="" data-domena="ta"></div> 

      <div class="menu link {{ css_menu.kontakt }}" data-href="/kontakt" data-domena="ta">
          Kontakt
      </div>

      <div class="menu link {{ css_menu.oferta }}" data-href="/oferta" data-domena="ta">
          Oferta
      </div>

      <div class="menu link {{ css_menu.o_firmie }}" data-href="/o_firmie" data-domena="ta">
          O firmie
      </div>

  </div>


</div>
