
{% include "szablon_wstep.html" %}

{% include "naglowek.html" %}


<div id="TRESC" class="blok start">

  <div id="START1">

    <div class="tlo"></div>

    <div class="napis">ŚWIAT BHP<br />Z AS BHP</div>

    <div class="strzalka" data-href="#START2">
      <div class="podpis">Polecane produkty</div>
      <div class="obrazek"></div>
    </div>

  </div>



  <div id="START2">

    <div class="tlo"></div>

    <div class="tresc lista_produktow">
    
      <ul>
        
        <li>
        
          <div class="nazwa">BRAVA2 SMOKE</div>
        
          <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt.jpg');"></div>
        
          <div class="opis">Specializing in video and photo storytelling<br />
          for schools, nonprofits, and other organizations<br />
          serving the greater good.</div>
        
        </li>
        
        <li>
        
          <div class="nazwa">BRAVA2 CLEAR</div>
        
          <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt2.jpg');"></div>
        
          <div class="opis">Specializing in video and photo storytelling<br />
          for schools, nonprofits, and other organizations<br />
          serving the greater good.</div>
        
        </li>
        
        <li>
        
          <div class="nazwa">BRAVA2 YELLOW</div>
        
          <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt3.jpg');"></div>
        
          <div class="opis">Specializing in video and photo storytelling<br />
          for schools, nonprofits, and other organizations<br />
          serving the greater good.</div>
        
        </li>
        
        <li>
        
          <div class="nazwa">BRAVA2 GALERAS</div>
        
          <div class="obrazek" style="background-image: url('/static/img/przykladowy_produkt4.jpg');"></div>
        
          <div class="opis">Specializing in video and photo storytelling<br />
          for schools, nonprofits, and other organizations<br />
          serving the greater good.</div>
        
        </li>
      
      </ul>
    
    </div>

  </div>



  <div id="START3">

    <div class="tlo"></div>

    <div class="tresc">Specializing in video and photo storytelling<br />
    for schools, nonprofits, and other organizations<br />
    serving the greater good.</div>

  </div>




  <div id="START4">

    <div class="tlo"></div>

    <div class="tresc">Specializing in video and photo storytelling<br />
    for schools, nonprofits, and other organizations<br />
    serving the greater good.</div>

  </div>

</div>


{% include "stopka.html" %}

{% include "szablon_zakonczenie.html" %}
