{% load staticfiles %}
<html>

  <head>

    <title>Rosetta bakalie</title>

    <link rel="stylesheet" href="{% static 'css/podstawa.css' %}">
    <link rel="stylesheet" href="{% static 'css/bloki.css' %}">
    <link rel="stylesheet" href="{% static 'css/naglowek.css' %}">
    <link rel="stylesheet" href="{% static 'css/tresc.css' %}">

    <link rel="stylesheet" href="{% static 'css/dodatki/perfect-scrollbar.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/dodatki/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'js/funkcje.js' %}"></script>
    <script src="{% static 'js/podstawa.js' %}"></script>

  </head>

  <body>

    <div>
    
      <div id="TLO"></div>

