/*    CSS   */


/************************************************************/

#TRESC.start > .BLOK1 > div.tlo
{
  background-image: url('../img/tlo_start2.jpg');
  background-size: 100% auto;
  background-position: 0px -130px;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK1 > div.tlo:after
{
  content: '';
  display: block;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: linear-gradient(to left, rgba(130, 130, 130, 0.4), transparent);

  z-index: 10;
}



#TRESC.start > .BLOK2 > div.tlo
{
  background-color: #fff;
}



#TRESC.start > .BLOK2
{
  color: #333;
}



#TRESC.start > .BLOK3 > div.tlo
{
  background-color: rgba(30, 29, 28, 1);
}



#TRESC.start > .BLOK3
{
  color: #DDD;
}



#TRESC.start > .BLOK4 > div.tlo
{
  background-color: #fff;
}



#TRESC.start > .BLOK2
{
  color: #333;
}


/************************************************************/

#TRESC.standardowa > .BLOK1 > .tlo
{
  background-color: #fff;
}



/************************************************************/



