/*    CSS   */



body > div
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;

  padding-right:15px;

  overflow: hidden;
}



body > div > .blok
{
  position: relative;
  z-index: 5;

  overflow: hidden;
}



#NAGLOWEK 
{
  position: relative;

  height: 100px;

  z-index: 7;
}



#TRESC
{
  position: relative;

  padding-bottom: 50px;
}



#STOPKA
{
  height:200px;
}



