/*    CSS   */



#NAGLOWEK > div
{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;

  height: inherit;
  z-index: 5;

  background-color: rgba(30, 29, 28, 1);

  overflow: hidden;
}


#NAGLOWEK > div > div.tytul
{
  position: absolute;
  bottom: -10px;
  left: 100px;

  width: 164px;
  height: 114px;

  background-image: url('../img/aslogo.png');
  background-size: 100% auto;

  z-index: 8;
}



#NAGLOWEK > div > div.menu
{
  float: right;
  display: block-inline;

  width: 150px;
  height: 90px;

  text-align: center;
  line-height: 130px;
  color: #999;

  z-index: 8;
}



#NAGLOWEK > div > div.menu:hover
{
  border-bottom: 3px #ff7000 solid;
  color: #DDD;
}



