/*    CSS   */



#NAGLOWEK > div:first-child
{
  position: fixed;
  left: -50px;
  right: -50px;
  top: -100px;

  transform: rotate(-5deg);

  height: inherit;
  z-index: 5;

  background-color: #222;
}


#NAGLOWEK > div:first-child > div.tytul
{
  position: absolute;
  bottom: 0px;
  left: 100px;

  width: 150px;
  height: 100px;

  padding-top: 20px;

  background-image: url('../img/ikona_tytulowa.png');
  background-size: 100% auto;

  text-align: center;
  font-size: 28px;
  color: #111;

  z-index: 8;
}



#NAGLOWEK > div.menu
{
  float: right;
  display: block-inline;

  width: 150px;
  height: 70px;

  margin-top: 70px;

  text-align: center;
  line-height: 70px;

  z-index: 8;
}
