/*    CSS   */



#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}



#TRESC.start > div > div.tlo
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 10;
}



#TRESC.start > div > div.nakladka
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 11;
}



#TRESC.start > div > div.napis
{
  position: relative;
  width: 600px;

  margin-top: 200px;
  margin-left: auto;
  margin-right: 50px;

  font-size: 78px;
  font-weight: bold;
  color: #ff8000;
  text-align: center;
  
  text-shadow: #000 0px 0px 20px;

  z-index:12;
}



#TRESC.start > div > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > div > div.strzalka > div.obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > div > div.strzalka > div.obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > div > div.strzalka > div.podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > div > div.strzalka > div.podpis
{
  cursor: pointer;
}



#TRESC.start > div > div.tresc
{
  position: relative;

  z-index:12;
}


/************************************************************/

#START1 > div.tlo
{
  background-image: url('../img/tlo_start2.jpg');
  background-size: 100% auto;
  background-position: 0px -130px;
  background-repeat: no-repeat;
}



#START1 > div.tlo:after
{
  content: '';
  display: block;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: linear-gradient(to left, rgba(130, 130, 130, 0.4), transparent);

  z-index: 10;
}



#START2 > div.tlo
{
  background-color: #fff;
}



#START2
{
  color: #333;
}



#START3 > div.tlo
{
  background-color: rgba(30, 29, 28, 1);
}



#START3
{
  color: #DDD;
}



#START4 > div.tlo
{
  background-color: #fff;
}



#START2
{
  color: #333;
}



/********* Treść standardowa *********/

#TRESC div.lista_produktow > ul > li
{
  position: relative;

  height: 250px;

  color: inherit;
}



#TRESC div.lista_produktow > ul > li > .nazwa
{
  position: absolute;
  left: 10px;
  top: 5px;

  width: 200px;
  height: 30px;

  font-weight: bold;
}



#TRESC div.lista_produktow > ul > li > .obrazek
{
  position: absolute;
  left: 10px;
  top: 35px;

  width: 250px;
  height: 200px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}



#TRESC div.lista_produktow > ul > li > .opis
{
  position: relative;
  left: 270px;
  top: 40px;
}






/********* Treść standardowa *********/

@media (min-width: 768px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc,
  #TRESC.produkt > div
  {
    width: 650px;
  }
}

@media (min-width: 992px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc,
  #TRESC.produkt > div
  {
    width: 800px;
  }
}

@media (min-width: 1200px)
{
  #TRESC.standardowa > div,
  #TRESC.start > div > div.tresc
  {
    width: 970px;
  }
  
}


#TRESC.standardowa > div,
#TRESC.start > div > div.tresc
{
  margin: 50px;
  margin-right: auto;
  margin-left: auto;

  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}



#TRESC.standardowa > div > .akapit,
#TRESC.start > div > div.tresc > .akapit
{

}



#TRESC.standardowa > div > .edytuj
{
  position: absolute;
  top: 5px;
  right: 10px;
}
